<?xml version="1.0" encoding="utf-8"?>
<BootEasyClientBundling>
	<CssBundles>
    <!--
		<bundle name="Example css bundle" path="~/bundles/css/examplecss.css">
			<files>
				<file path="~/assets/css/bootstrap.css" />
				<file path="~/assets/css/style.css" />				
			</files>
		</bundle>
    -->
	</CssBundles>
	<ScriptBundles>
    <!-- 
		<bundle name="Example scripts bundle" path="~/bundles/scripts/examplescripts.js">
			<files>
				<file path="~/assets/js/jquery.js" />
				<file path="~/assets/js/jquery.validate.js" />
				<file path="~/assets/js/jquery.validate.unobtrusive.js" />				
				<file path="~/assets/js/scripts.js" />				
			</files>
		</bundle>
    -->
	</ScriptBundles>
</BootEasyClientBundling>